@model IndexModel
@{
    ViewData["Title"] = "InstaMonitor";
}

<br />
<br />

<form method="get" class="form-inlines">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input asp-for="Username" class="form-control" placeholder="Type your username" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Go</button>
                </span>
            </div>
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <h1>@Model.Message</h1>
}

<br />
<br />

@if (Model.SearchedWithSuccess)
{
    <div class="row">
        <div class="col-xs-6">
            <h2>@Model.FollowersNotFollowed.Count followers not followed</h2>
            @await Html.PartialAsync("_PartialInstaUsersList", Model.FollowersNotFollowed)
        </div>
        <div class="col-xs-6" style="border-left: 1px solid black;">
            <h2>@Model.FollowingNotFollowers.Count following not followers</h2>
            @await Html.PartialAsync("_PartialInstaUsersList", Model.FollowingNotFollowers)
        </div>
    </div>
}